body {
    background-image: url("../images/background.jpg");
}

.column {
    float: left;
    width: 33.33%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.checkbox {
    padding-left: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}