body {
    background-image: url("../images/background.jpg");
    font-family: Georgia, sans-serif;
}

h1 {
    font-family: Georgia, sans-serif;
    font-size: 5em;
    letter-spacing: -2px;
}

p {
    font-size: 20px;
}

.network {
    font-size: 20px;
}

.column {
    float: left;
    width: 33.33%;
}

.topbeta {}

.terms {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #000;
    color: #fff;
    opacity: .5;
}

.header {
    background-color: #000;
    color: #fff;
    opacity: .5;
    padding-top: 10px;
    padding-bottom: 5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.checkbox {
    padding-left: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}